<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <title>Kanban</title>
    <link rel="stylesheet" href="css/application.css" />
  </head>
  <body>
    <section id="kanban">
    </section>
<!--     <section id="todo" class="kanban-column">
      <a id="showForm" href="#">Add new card</a>
      <form id="addCard" action="#">
        <label for="title">Title:</label><input id="title" type="text" />
        <label for="description">Description:</label><input id="description" type="text" />
        <button id="add">Add</button>
      </form>
    </section>
    <section id="doing" class="kanban-column">
    </section>
    <section id="done" class="kanban-column">
    </section>
    <script id="columnTemplate" type="text/template">
      <a id="showForm" href="#">Add new card</a>
      <form id="addCard" action="#">
        <label for="title">Title:</label><input id="title" type="text" />
        <label for="description">Description:</label><input id="description" type="text" />
        <button id="add">Add</button>
      </form>
    </script>
    <script id="cardTemplate" type="text/template">
      <h1><%= title %></h1>
      <p><%= description %></p>
      <label><%= status %></label>
      <button class="delete">Delete</button>
      <button class="edit">Edit</button>
    </script>
    <script id="editTemplate" type="text/template">
      <form action="#">
          <input class="title" value="<%= title %>" />
          <input class="description" value="<%= description %>" />
          <input id="status" type="hidden" value="<%= status %>" />
          <button class="save">Save</button>
          <button class="cancel">Cancel</button>
      </form>
    </script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>