<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <title>Kanban</title>
  </head>
  <body>
    <div id="cards">
      <header>
        <a id="showForm" href="#">Add new card</a>
        <div id="filter"><label>Show me:</label></div>
      </header>
      <form id="addCard" action="#">
        <label for="title">Title:</label><input id="title" type="text" />
        <label for="description">Description:</label><input id="description" type="text" />
        <button id="add">Add</button>
    </form>
    </div>
    <script id="cardTemplate" type="text/template">
      <h1><%= title %></h1>
      <p><%= description %></p>
      <button class="delete">Delete</button>
    </script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>